:root{
    --texto-container: white;
    --texto-navbar: #49bdc3;
}
*{
    font-family: 'Poppins', sans-serif;
}
/* CSS del Home */
.navbar{
    background-color: var(--texto-navbar);
}
.brand-nombre{
    margin-left: 10px;
}
nav a{
    font-weight:600;
}
ion-icon{
    font-size: 22px;
}

/* CSS del Home */
.main-principal{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(73, 158, 195, 0.75),rgba(17, 20, 24, 0.75)), url(../img/home.jpg) no-repeat center center fixed;
    background-size: cover;
}

.titulo{
    text-rendering: optimizeLegibility;
    color: var(--texto-container);
    font-size: 5em;
}
.titulo{
    font-weight: bold;
    font-size: 62px;
}
.subtitulo{
    font-size: 2em;
}
p{
    text-rendering: optimizeLegibility;
    color: var(--texto-container);
}
a{
    text-rendering: optimizeLegibility;
}
/* ---------------------------------------------- */

/* CSS de lugares */
.main-lugares{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(73, 158, 195, 0.75),rgba(17, 20, 24, 0.75)), url(../img/mapaa.jpg) no-repeat center center fixed;
    background-size: cover;
}

#image{
    display: none;
}

#btnID2{
    display: none;
}
/* ---------------------------------------------- */

/* CSS de Nosotros */

.main-nosotros{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(73, 158, 195, 0.75),rgba(17, 20, 24, 0.75)), url(../img/nosotros.jpeg) no-repeat center center fixed;
    background-size: cover;
}

/* ---------------------------------------------- */

/* CSS de Aporte */

.main-aporte{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(73, 158, 195, 0.75),rgba(17, 20, 24, 0.75)), url(../img/nosotros.jpeg) no-repeat center center fixed;
    background-size: cover;
}

/* ---------------------------------------------- */

/* CSS de Login*/
.main-login{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(73, 158, 195, 0.75),rgba(17, 20, 24, 0.75)), url(../img/logreg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.xd{
    background: rgb(87,161,199);
    background: linear-gradient(0deg, rgba(87,161,199,1) 49%, rgba(0,99,255,1) 94%); 
}
/* ---------------------------------------------- */

/* CSS de Register */
.main-register{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(73, 158, 195, 0.75),rgba(17, 20, 24, 0.75)), url(../img/logreg.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* ---------------------------------------------- */
